<h2 class="text-center header-style">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <div class="text-left user-container">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-input", required: "required" %>
    </div>

    <div class="actions">
      <%= f.submit "Send instructions", class: "btn btn-success" %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
