<h1 class="text-center"><%= @section.title %></h1>

<%= form_for (@section) do |f| %>

  <div class="text-center">
    <div class="field input">
      <%= f.label :title %>
      <%= f.text_field :title, required: 'required' %>
    </div>

    <div class="actions input">
      <%= f.submit %>
    </div>
  </div>

<% end %>
