<h1 class="text-center header-style"><%= @section.title %></h1>
<h2 class="text-center"><%= link_to @section.book_discussion.book_title, @section.book_discussion %></h2>
<p class="text-center">By: <%= @section.book_discussion.book_author %></p>
<p class="text-center"><%= image_tag(@section.book_discussion.book_image_url, :alt => "Cover Image") %></p>

<% if @section.book_discussion.user_id == current_user.id %>
  <%= render 'owner_options', { section: @section } %>
<% end %>

<hr class="discussion-divider">

<div id="disqus-container" class="center-block">
  <%= render 'disqus', { section: @section } %>
</div>
