<h1 class="text-center"><%= @section.title %></h1>
<h2 class="text-center"><%= @section.book_discussion.book_title %></h2>
<p class="text-center">By: <%= @section.book_discussion.book_author %></p>
<p class="text-center"><%= image_tag(@section.book_discussion.book_image_url, :alt => "Cover Image") %></p>

<% if @section.book_discussion.user_id == current_user.id %>
  <%= link_to 'Delete Section', section_path(@section), method: :delete, data: {confirm: "Are you sure?"} %>
  <%= link_to 'Edit Section', edit_section_path(@section) %>
<% end %>

<hr>

<div id="disqus-container" class="center-block">
  <div id="disqus_thread"></div>
  <script>
  var disqus_config = function () {
    s.src = '//readtogether-1.disqus.com/embed.js';
            this.page.url = '<%= url_for(@section) %>';
            this.page.identifier = '<%= @section.id %>';
            this.page.title = '<%= @section.title %>';
  };
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://readtogether-1.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
