<% if current_user %>
  <h2 class="text-center">Discussions You've Created</h2>

  <% if current_user.book_discussions.any? %>
    <ul class="list-group">
      <% current_user.book_discussions.each do |discussion| %>
      <li class="list-group-item text-center">
        <p><%= link_to discussion.book_title, discussion %></p>
        <p>By: <%= discussion.book_author %></p>
        <p><%= image_tag(discussion.book_image_url, :alt => "Cover Image") %></p>
      </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-center">You haven't created any discussions yet. Search for a book to get started.</p>
  <% end %>

  <h2 class="text-center">Discussions You're Invited To</h2>

  <% if @book_discussions == [] %>
    <p class="text-center">You haven't been invited to any discussions yet.</p>
  <% else %>
    <% @book_discussions.each do |discussion| %>
      <% if discussion.discussion_participants.include?(current_user.email) %>
        <ul class="list-group">
          <li class="list-group-item text-center">
            <p><%= link_to discussion.book_title, discussion %></p>
            <p>By: <%= discussion.book_author %></p>
            <p><%= image_tag(discussion.book_image_url, :alt => "Cover Image") %></p>
          </li>
        </ul>
      <% end %>
    <% end %>
  <% end %>
<% end %>
