<% if current_user.id == @book_discussion.user_id || @book_discussion.discussion_participants.include?(current_user.email) %>
  <h1 class="text-center">Discussion for: <%= @book_discussion.book_title %></h1>
  <p class="text-center">By: <%= @book_discussion.book_author %></p>
  <p class="text-center"><%= image_tag(@book_discussion.book_image_url, :alt => "Cover Image") %></p>

  <% if current_user.id == @book_discussion.user_id %>

    <div class="text-center">
      <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Options
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><%= link_to 'Delete Discussion', book_discussion_path(@book_discussion), method: :delete, data: {confirm: "Are you sure?"} %></li>
          <li><%= link_to 'Create Section', new_section_path(book_discussion_id: @book_discussion.id) %></li>
        </ul>
      </div>
    </div>

    <div id="invite-container" class="center-block text-center">
      <button data-toggle="collapse" data-target="#invite" class="btn btn-info">Invite User</button>

      <div id="invite" class="collapse">
        <br>
        <%= render 'invite_form', { book_discussion: @book_discussion } %>
      </div>
    </div>

  <% end %>

  <hr>

  <div id="sections-container" class="center-block">
    <ul class="list-group text-center">
      <% @book_discussion.sections.all.each do |section| %>
        <li class=list-group-item><%= link_to section.title, section %></li>
      <% end %>
    </ul>
  </div>

<% else %>
  <h1 class="text-center">Sorry, you're not permitted to view this discussion.</h1>
<% end %>
