<% if current_user.id == @book_discussion.user_id || @book_discussion.discussion_participants.include?(current_user.email) || @book_discussion.status == 'public' %>

  <% if @book_discussion.status == 'public' %>
    <%= render 'save_discussion', book_discussion: @book_discussion %>
  <% end %>

  <h1 class="text-center header-style"><%= @book_discussion.book_title %></h1>
  <p class="text-center">By: <%= @book_discussion.book_author %></p>
  <p class="text-center"><%= image_tag(@book_discussion.book_image_url, :alt => "Cover Image") %></p>


  <% if current_user.id == @book_discussion.user_id %>
    <%= render 'owner_options', { book_discussion: @book_discussion } %>
  <% end %>

  <hr class="discussion-divider">

  <div id="sections-container" class="center-block">
    <%= render 'section', { book_discussion: @book_discussion } %>
  </div>

  <hr class="discussion-divider">

  <div class="disqus-container center-block">
    <%= render 'disqus', { book_discussion: @book_discussion } %>
  </div>

<% else %>
  <h1 class="text-center header-style">Sorry, you're not permitted to view this discussion.</h1>
<% end %>
